# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env

# Build outputs
dist/
build/

# Temporary files
tmp/
temp/

# Dependency directories
jspm_packages/

# IDE and Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# TypeScript cache
*.tsbuildinfo

# Misc
*.tgz
